<?xml version="1.0"?>
<model>
  <name>3DR Iris with 5 Camera's</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_5cam.sdf</sdf>

  <author>
   <name>J Ashok Kumar</name>
   <email>ashok.kumarj@icloud.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with 4 camera's in each direction and one camera facing downwards. 
  </description>
</model>
